@charset "utf-8";

/* body
------------------------------*/
body{
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #fff;
}

/* h p
------------------------------*/
h1{
  font-size: 2.8rem;
  font-weight: bold;
}
h2{
  font-size: 2.4rem;
  font-weight: bold;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
p{
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 28px;
  text-align: justify;
}
address{
  font-style: normal;
}
small{
  font-size: 1.4rem;
  font-weight: normal;
}

/* table
------------------------------*/
table{
  font-size: 1.6rem;
  line-height: 28px;
}
table tbody tr{
  border-bottom: 1px solid #999;
}
table tbody tr td{
  padding: 10px 0;
}

/* a
------------------------------*/
a{
  font-size: 1.6rem;
  font-weight: bold;
}

/* img
------------------------------*/
img{
  display: block;
  width: 100%;
  height: auto;
}

/* wrapper
------------------------------*/
.wrapper{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

/* header
------------------------------*/
header div.logo{
  display: flex;
  justify-content: space-between;
}
header div.logo a h1{
  line-height: 80px;
  color: #333;
  padding-left: 40px;
  background-image: url(../images/logo.svg);
  background-size: 30px;
  background-position: left center;
  background-repeat: no-repeat;
}
header div.logo div.info ul{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
header div.info ul li a{
  width: 120px;
  text-align: center;
  line-height: 40px;
  background-color: #ecf0f7;
  margin-right: 10px;
  border-radius: 2px;
  color: #3b3b3b;
}
header div.info ul li:last-child a{
  margin-right: 0;
  background-color: #fff;
  border: 1px solid #999;
}
header div.info ul li:nth-child(1) a{
  background-color: #fcd40e;
}
header nav.global{
  background-color: #073288;
}
header nav.global ul{
  display: flex;
  justify-content: space-between;
}
header nav.global ul li{
  width: calc(100% / 5);
}
header nav.global ul li a{
  text-align: center;
  line-height: 48px;
  border-right: 1px solid #fff;
  color: #fff;
}
header nav.global ul li:first-child a{
  border-left: 1px solid #fff;
}

/* main visual
------------------------------*/
section.visual_img{
  height: 600px;
  margin-bottom: 52px;
  background-image: url(../images/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.visual_img h2{
  font-size: 3.2rem;
  line-height: 100px;
  position: relative;
  top: 40%;
}
section.visual_img h2 span{
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
main.about section.visual_img,
main.contact-form section.visual_img{
  height: 240px;
  margin-bottom: 90px;
}
main.about section.visual_img{
  background-image: url(../images/hero-img_02.jpg);
}
main.contact-form section.visual_img{
  background-image: url(../images/hero-img_03.jpg);
}
main.about section.visual_img h2,
main.contact-form section.visual_img h2{
  line-height: 50px;
  text-align: center;
  color: #000;
  text-shadow: 1px 0 5px #fff;
}

/* main course
------------------------------*/
main ul.course{
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
main ul.course li{ 
  width: calc((100% / 4) - 10px);
}
main ul.course li a{
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #ddd;
  color: #3b3b3b;
}
main ul.course li a h3{
  font-size: 1.6rem;
  text-align: center;
  line-height: 40px;
  background-color: #ecf0f7;
}
main ul.course li a p{
  padding: 0 20px;
  margin: 20px auto;
}
main ul.course li a p img{
  display: block;
  margin: 0 auto;
  width: 110px;
}

/* main
------------------------------*/
.container{
  margin-bottom: 90px;
  background-color: #ecf0f7;
  padding: 40px;
}
.container h2,
.news h2{
  padding-left: 10px;
  margin-bottom: 30px;
  border-left: 8px solid #073288;
}

/* main new-user
------------------------------*/
main section.new-user,
main.about section.message,
main.about section.policy{
  display: flex;
  justify-content: space-between;
}
main section.new-user div,
main.about section.message div,
main.about section.policy div{
  width: calc(100% - 480px);
}
main section.new-user div ul li a{
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #073288;
  color: #fff;
}
main section.new-user div p a{
  width: 200px;
  line-height: 40px;
  padding-left: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 120px;
  background-color: #fff;
  color: #3b3b3b;
}
main section.new-user p.new-user_img,
main.about section.message p img,
main.about section.policy p img{
  width: 440px;
}

/* main access
------------------------------*/
main section.access{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
main section.access div{
  width: calc(100% - 480px);
}
main section.access div address{
  margin-bottom: 20px;
}
main section.access div table{
  width: 100%;
  text-align: center;
}
main section.access div table tbody tr th{
  text-align: left;
  width: 160px;
}
main section.access div table tbody tr th span{
  font-size: 1.3rem;
  font-weight: normal;
}
main section.access iframe{
  width: 440px;
}

/* main contact
------------------------------*/
main div.contact{
  padding: 150px 0 70px;
  margin-bottom: -90px;
  background-color: #073288;
  position: relative;
  top: -180px;
  z-index: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}
main div.contact a p img{
  width: 90px;
  margin: 0 auto;
  margin-bottom: 20px;
}
main div.contact a p.btn{
  width: 320px;
  font-weight: bold;
  line-height: 40px;
  border-radius: 2px;
  text-align: center;
  color: #073288;
  background-color: #fff;
}

/* main artical activity
------------------------------*/
main article.activity{
  margin-bottom: 90px;
}
main article.activity h2{
  margin-bottom: 40px;
  text-align: center;
}
main article.activity section{
  margin-bottom: 20px;
  background-color: #ecf0f7;
  display: flex;
  justify-content: space-between;
}
main article.activity section:last-child{
  margin-bottom: 0;
}
main article.activity section div{
  width: calc(100% - 440px);
  padding: 40px 40px 0 0;
  order: 1;
}
main article.activity section div h3{
  margin-bottom: 20px;
  color: #073288;
}
main article.activity section div p{
  letter-spacing: 0.1rem;
}
main article.activity section p.activity_img{
  width: 400px;
  order: 0;
}

/* main news
------------------------------*/
main section.news{
  padding: 40px;
  margin-bottom: 40px;
  border: 1px solid #999;
}
main section.news ul{
  margin-bottom: 10px;
}
main section.news ul li{
  border-bottom: 1px dotted #999;
}
main section.news ul li a{
  display: flex;
  color: #333;
}
main section.news ul li a p{
  line-height: 40px;
  letter-spacing: 0.1rem;
}
main section.news ul li a p span{
  margin-right: 20px;
}
main section.news a p.more{
  font-size: 1.4rem;
  text-align: right;
  color: #333;
}

/* main topic
------------------------------*/
main ul.topic{
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}
main ul.topic li{
  width: calc((100% / 3) - 10px);
}

/* main message
main policy
------------------------------*/
main.about section.message div p,
main.about section.policy div p{
  letter-spacing: 0.05rem;
}
main.about section.message div p:last-child{
  margin-top: 20px;
  text-align: right;
  letter-spacing: none;
}
main.about section.policy div{
  order: 1;
}
main.about section.policy  p.policy_img{
  order: 0;
}

/* main outline
------------------------------*/
main.about section.outline table{
  width: 100%;
}

/* main contact-form
------------------------------*/
main.contact-form div{
  display: flex;
  justify-content: space-between;
}
main.contact-form div form{
  width: calc(100% - 240px);
  margin-bottom: 90px;
}
main.contact-form div form table{
  width: 100%;
}
main.contact-form div form table tbody tr{
  border-bottom: none;
}
main.contact-form div form table tbody tr th{
  width: 220px;
  text-align: left;
}
main.contact-form div form table tbody tr td{
  width: calc(100% - 220px);
}
main.contact-form div form table tbody tr td input{
  padding: 10px;
}
main.contact-form div form table tbody tr td input[type="text"]{
  width: 100%;
}
main.contact-form div form table tbody tr td textarea{
  width: 100%;
  padding: 10px;
  resize: none;
}
input.form-btn{
  width: 160px;
  border-radius: 2px;
  border: none;
  background-color: #073288;
  color: #fff;
}
span.required{
  font-size: 1.2rem;
  padding: 2px 4px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: #fcd40e;
  color: #3b3b3b;
}
main.contact-form div aside{
  width: 200px;
  margin-top: 25px;
}
main.contact-form div aside ul li a{
  width: 100%;
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #073288;
  color: #fff;
}

/* footer
------------------------------*/
footer{
  padding: 40px 0;
  background-color: #073288;
}
footer div{
  display: flex;
  justify-content: space-between;
  color: #fff;
}
footer div section h2{
  margin-bottom: 20px;
}
footer div section address{
  margin-bottom: 20px;
}
footer div section address p span{
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 10px;
}
footer div nav.local ul{
  width: 560px;
  display: flex;
  justify-content: space-between;
}
footer div nav.local ul li a{
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
}
footer small{
  font-size: 1.2rem;
  display: block;
  color: #fff;
}

/* hover
------------------------------*/
@media (hover:hover) {
  a:hover{
    opacity: 0.6;
  }
  input.form-btn:hover{
    opacity: 0.6;
  }
}

/* @media
------------------------------*/
@media screen and (max-width:980px){
}